
.ex3 .parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }


td {
    color: red
}

sub {
    color: darkgrey 
}

ol  p {
    color: rgb(0, 217, 255)
}

ol b li {
    color: goldenrod
}

h1 {
    color: red
}

h1+ol > li {
    color: green    
}

h1+h2 {
    color: orange
}

h2+a {
    color: yellow
}

a + p + a {
    color: greenyellow
}

a + h2 {
    color: blue
}

a + h2 + p {
    color: rgb(151, 0, 151)
}

.myStyle {
    color: goldenrod;
    font-weight: bold; 
}

.title{
    color:rgb(255, 0, 0);
    font-weight: bolder;
}

h2 + p + h3 {
    color: rgb(255, 0, 212);
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.onex,.tenx,.hundredx{

    width: 64px;
    height: 50px;
    margin-bottom: 20px;
    flex-direction: row;

}
.left{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}


.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}


.cookieNumber {
    gap: 20px;
    font-size: 24px;
    color: black; 
}


.bigCookie {
    width: 200px;
    height: 200px;
}

.buyCursor, .buyGrandma, .buyFarm{
    width: 200px;
    height: 50px;
}

.multiplier{
    flex-direction: row;

}

.settings {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line */
    align-items: center; /* Centers items vertically */
    margin-bottom: 10px;
}

.settingsText{
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
    margin-right: 10px;
}

#R,#G,#B{
    max-width: 51px;
    max-height: 15px;
    
}

.color-display{
    display: flex;
    justify-content: flex-end; 
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.colourContainer {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: flex-end; /* Aligns children to the right within the container */
    margin: 10px; /* Optional margin around the container */
}

body{
    color: black;
    text-shadow: 
    0.5px 0.5px 0 white,
    -0.5px -1px 0 white,
    0.5px -1px 0 white,
    -0.5px 0.5px 0 white;
}