
.ex3 .parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }


td {
    color: red
}

sub {
    color: darkgrey 
}

ol  p {
    color: rgb(0, 217, 255)
}

ol b li {
    color: goldenrod
}

h1 {
    color: red
}

h1+ol > li {
    color: green    
}

h1+h2 {
    color: orange
}

h2+a {
    color: yellow
}

a + p + a {
    color: greenyellow
}

a + h2 {
    color: blue
}

a + h2 + p {
    color: rgb(151, 0, 151)
}

.mystyle {
    color: goldenrod;
    font-weight: bold; 
}

.title{
    color:rgb(255, 0, 0);
    font-weight: bolder;
}

h2 + p + h3 {
    color: rgb(255, 0, 212);
}

body {
    background-color: black;
}


.cookieclicker
{
    width:100px;
    height:100px;
    text-align: center;
}

.cookienumber
{
    color: white;
}

